body {
    margin: 3rem;
    font-family: system-ui, sans-serif;
    line-height: 1.6;
    background: #fafafa;
    color: #111;
}

nav {
    padding: 1rem;
    display: flex;
    gap: 1rem;
    font-size: 1rem;
}

nav a {
    text-decoration: none;
    color: #111;
}

nav a:hover {
    text-decoration: underline;
}

ul {
    padding-left: 0;
    list-style: none;
}

li {
    margin-bottom: 1.5rem;
}

a {
    text-decoration: underline;
}