---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About">
  <main>
    <h1>Over mij</h1>

    <p>
      Ik ben Mauro Vangheluwe, een 20-jarige student en DJ. Creativiteit staat
      centraal in alles wat ik doe, of dat nu muziek, webdesign of sport is.
    </p>

    <p>
      Naast mijn studies ben ik actief als DJ onder de naam DJ
      MAU. Muziek selecteren, draaien, maken en het publiek een onvergetelijke ervaring bezorgen vind ik
      het leukste die er is. Door deze combinatie van digitale en
      creatieve hobby's kan ik concepten bedenken en uitvoeren die zowel
      technisch als creatief interessant zijn.
    </p>

    <h2>Skills</h2>
    <ul>
      <li>DJ</li>
    <li>Muziekproductie</li>
      <li>Webdesign basis</li>
      <li>Front-end webdevelopment (HTML, CSS, JS, Astro)</li>
      <li>Creatief denken & conceptontwikkeling</li>
      <li>Projectplanning en uitvoering</li>
    </ul>
  </main>
</BaseLayout>
