---
import "../styles/global.css";

interface Props {
  title: string;
  withLoadingState?: boolean;
}

const { withLoadingState = false } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property="og:title" content="Mauro Vangheluwe" />
    <meta
      property="og:description"
      content="Interactive portfolio of Mauro Vangheluwe, a digital designer & developer."
    />
    <meta
      property="og:image"
      content="https://maurovangheluwe.com/images/preview.png"
    />
    <meta
      property="og:url"
      content="https://maurovangheluwe.github.io/Portfolio"
    />
    <meta property="og:type" content="website" />

    <link rel="stylesheet" href="https://use.typekit.net/hpf4uwp.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Schoolbell&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Ccircle cx='50' cy='50' r='40' fill='%23B3D7E7' /%3E%3Ccircle cx='50' cy='50' r='20' fill='%231393D1' /%3E%3C/svg%3E"
    />

    <title>Mauro Vangheluwe</title>
    <script is:inline>
      let originalTitle = document.title;
      let timeout;

      document.addEventListener("visibilitychange", () => {
        if (document.hidden) {
          // Start timer when user leaves the tab
          timeout = setTimeout(() => {
            document.title = "Wait, come back 😔";
          }, 2000);
        } else {
          // User returned → reset
          clearTimeout(timeout);
          document.title = originalTitle;
        }
      });
    </script>
  </head>
  <body class:list={[{ loading: withLoadingState }]}>
    <div id="smooth-wrapper">
      <div id="smooth-content">
        {withLoadingState && <div id="loading-overlay" />}
        <slot />
      </div>
    </div>
    <script>
      import { setupSmoother } from "../scripts/smoother.js";
      setupSmoother();
    </script>
  </body>
</html>
